
@{
    ViewBag.Title = "Index IS Created";
}

<div class="container">

    <div id="actionContiner">

    </div>
    <hr />
    <div id="tableContiner">
        @{
            Html.RenderAction("ProductTable");



        }



    </div>

</div>


